@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chango&family=Dangrek&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: "TildaSans";
  src: url("../assets/fonts/TildaSans-VF.ttf") format("truetype");
}

:root {
  --color-black: rgb(5, 5, 5);
  --color-black-no-focus: #292828;
  --color-black-full: rgb(0, 0, 0);
  --color-white: #f5f5f5;
  --color-white-full: #fff;
  --color-white-dim: rgb(5, 5, 5);
  --color-green-imp: #19b51d;
  --border-radius: 5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
  font-family: "TildaSans", sans-serif;
  font-weight: 800;
}
ol,
ul,
li {
  list-style-type: none;
}

button,
input {
  outline: none;
  border: none;
}

.hidden {
  display: none !important;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: none;
  justify-items: center;
  align-items: center;
  background-color: rgba(5, 5, 5, 0.65);
  backdrop-filter: blur(1rem);
  z-index: 9999;
}
.popup__wrapper {
  position: relative;
  width: 35%;
  height: 75%;
  background-color: var(--color-black);
  border-radius: var(--border-radius);
  box-shadow: 0px 0px 136px -23px var(--color-white);
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 5rem;
}
.popup__close {
  cursor: pointer;
  position: absolute;
  width: 4rem;
  height: 4rem;
  top: 3rem;
  right: 3rem;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;

  color: var(--color-black);
  background-color: var(--color-white);
  font-size: 1.8rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}
.popup__close:hover {
  color: var(--color-white);
  background-color: var(--color-green-imp);
  transform: scale(1.15);
}
.popup__sold-out {
  font-size: 3rem;
  color: var(--color-black);
  background-color: var(--color-white);
  padding: 3rem 5rem;
  border-radius: 2rem;
}
.form {
  position: relative;
  width: 70%;
  height: 100%;
  color: var(--color-white);
  /* background-color: red; */
  border-radius: var(--border-radius);
  display: grid;
  align-content: center;
  grid-row-gap: 1.5rem;
}
.form__item {
  display: grid;
  grid-row-gap: 0.5rem;
}
.form__label {
  font-family: "TildaSans", sans-serif;
  font-size: 1.8rem;
}
.form__text {
  width: 100%;
  font-size: 1.6rem;
  padding: 1.2rem 1.5rem;
  border-radius: 2rem;
  background-color: var(--color-black-no-focus);
  transition: all 0.3s ease-in-out;
}
.form__text:focus {
  background-color: var(--color-white);
}
.form__imp {
  color: var(--color-green-imp);
}
.form__sizes {
  display: flex;
  color: var(--color-black);
}
.form__sizes-item {
  /* width: 5rem; */
  /* display: grid;
  grid-template-rows: repeat(2, 1fr); */
  margin: 0 1rem;
}
.form__sizes-item:nth-child(1) {
  margin-left: 0;
}
.form__sizes-item:last-child {
  margin-right: 0;
}
.form__sizes-option {
  background-color: var(--color-white);
  font-size: 1.8rem;
  /* padding: 1rem; */
  width: 6rem;
  height: 4rem;
  border-radius: 1rem;
  display: grid;
  justify-items: center;
  align-items: center;
  /* margin-right: 2rem; */
}
.form__option-toggled {
  color: var(--color-white);
  background-color: var(--color-green-imp);
}
.form__sizes-amount {
  margin-top: 1rem;
  width: 6rem;
  font-size: 1.6rem;
  border-radius: 1rem;
  text-align: center;
  /* padding-left: 1rem; */
  padding: 0.5rem 0;
}
.form__item.submit {
  display: grid;
  justify-items: center;
  align-items: center;
}
.form__submit {
  /* width: 6rem; */
  font-size: 1.8rem;
  padding: 1rem 2.5rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}
.form__submit:hover {
  color: var(--color-white);
  background-color: var(--color-green-imp);
  transform: scale(1.15);
}

.preloader {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
  color: var(--color-white);
  font-size: 7.2rem;
  z-index: 999;
}
.preloader__wrapper {
  width: inherit;
  height: inherit;
  display: grid;
  justify-items: center;
  align-content: center;
}
.preloader__heading {
  max-width: 40%;
  display: flex;
  justify-content: space-between;
}
.preloader__char {
  color: var(--color-white-dim);
  font-family: "Archivo Black", sans-serif;
  filter: blur(2px);
  animation: preloader-glow 2s linear infinite;
}
.preloader__char:nth-child(1) {
  animation-delay: 0.25s;
}
.preloader__char:nth-child(2) {
  animation-delay: 0.5s;
}
.preloader__char:nth-child(3) {
  animation-delay: 0.75s;
}
.preloader__char:nth-child(4) {
  animation-delay: 1s;
}
.preloader__char:nth-child(5) {
  animation-delay: 1.25s;
}
.preloader__char:nth-child(6) {
  animation-delay: 1.5s;
}
.preloader__char:nth-child(7) {
  animation-delay: 1.75s;
}

.buy {
  position: fixed;
  top: 0;
  right: 0;
  width: 10vw;
  height: 100vh;
  z-index: 3;
  display: grid;
  align-items: center;
}
.buy__right {
  display: grid;
  justify-items: end;
  align-items: center;
  padding-right: 5vw;
}
.buy__button svg {
  cursor: pointer;
  width: 6rem;
  height: 6rem;
  padding: 1rem;
  fill: var(--color-white);
  background-color: var(--color-black);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.buy__button svg:hover {
  transform: scale(1.25);
}
.main {
  width: inherit;
  min-height: 100vh;
  overflow: hidden;
}
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--color-white-full);
  overflow: hidden;
}
.hero__video {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  z-index: 1;
  display: grid;
  justify-items: center;
  align-items: end;
}
.hero__video video {
  height: 85vh;
}
.hero__overlay {
  position: relative;
  width: 100%;
  height: 100vh;
  box-shadow: 0px -148px 50px -14px rgba(0, 0, 0, 0.56) inset;
  -webkit-box-shadow: 0px -148px 50px -14px rgba(0, 0, 0, 0.56) inset;
  -moz-box-shadow: 0px -148px 50px -14px rgba(0, 0, 0, 0.56) inset;
  z-index: 2;
}
.hero__heading {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  top: 2.5vh;
  display: grid;
  justify-items: center;
}
.hero__heading img {
  height: 15vh;
}
.hero__content {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  align-content: center;
  padding-left: 5vw;
}
.hero__desc {
  font-size: 2rem;
}
.hero__button {
  cursor: pointer;
  margin-top: 1.5vh;
  width: 10vw;
  height: 6vh;
  font-size: 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
}
.hero__button:hover {
  transform: scale(1.2);
}

.promo {
  width: 100%;
  height: 100vh;
  background-color: var(--color-black);
}
.promo__video {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
}
.promo__video video {
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
}

.contacts {
  width: 100%;
  height: 60vh;
  background-color: var(--color-white);
  display: grid;
  justify-items: center;
  box-shadow: 0px 78px 136px -23px rgba(0, 0, 0, 0.61) inset;
  -webkit-box-shadow: 0px 78px 136px -23px rgba(0, 0, 0, 0.61) inset;
  -moz-box-shadow: 0px 78px 136px -23px rgba(0, 0, 0, 0.61) inset;
}
.contacts__wrapper {
  width: 60%;
  height: 100%;
  display: grid;
}
.contacts__qr {
  display: grid;
  justify-items: center;
  align-self: end;
  overflow: hidden;
}
.contacts__qr img {
  height: 35vh;
  transition: all 0.3s ease-in-out;
}
.contacts__qr img:hover {
  transform: scale(1.2);
}
.contacts__social {
  display: grid;
  justify-items: center;
  align-self: start;
}
.contacts__social svg {
  width: 8rem;
  height: 8rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 15%;
  padding: 2rem;
  z-index: 2;
}
.contacts__social svg:hover {
  cursor: pointer;
  fill: var(--color-white);
  border-radius: 50%;
  background-color: var(--color-black);
  transform: scale(1.25);
}

.footer {
  width: 100%;
  height: 10vh;
  background-color: var(--color-black);
}
.footer__wrapper {
  height: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  color: var(--color-white);
}

@media screen and (max-width: 1300px) {
  .popup__wrapper {
    width: 40%;
  }
  .form {
    width: 80%;
  }
}
@media screen and (max-width: 1200px) {
  .hero__video {
    left: 12%;
  }
  .promo {
    height: auto;
  }
  .promo__video {
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  .popup__wrapper {
    width: 45%;
  }
}
@media screen and (max-width: 950px) {
  .popup__wrapper {
    width: 55%;
  }
  .hero__video {
    align-items: center;
    left: 15%;
  }
  .hero__video video {
    height: 50vh;
  }
}
@media screen and (max-width: 800px) {
  .popup__wrapper {
    width: 65%;
  }
  .buy {
    width: 15vw;
  }
  .hero {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    height: auto;
  }
  .hero__heading {
    position: relative;
  }
  .hero__heading img {
    height: 12vh;
  }
  .hero__video {
    position: relative;
    height: 50vh;
    display: grid;
    justify-items: center;
    left: 0%;
  }
  .hero__overlay {
    height: auto;
    box-shadow: none;
  }
  .hero__content {
    height: 50vh;
    justify-items: center;
    padding: 0;
  }
  .hero__button {
    width: 10rem;
    height: 6vh;
    margin-top: 1.5rem;
    margin-bottom: 5vh;
  }
}
@media screen and (max-width: 650px) {
  .popup__wrapper {
    width: 75%;
  }
}
@media screen and (max-width: 550px) {
  .popup__wrapper {
    width: 85%;
    height: 60%;
  }
  .form {
    width: 85%;
  }
  /* .form {
    width: 90%;
  } */
  .hero__heading {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
  }
  .hero__video video {
    width: 100%;
  }
  .hero__content {
    justify-items: start;
    padding: 0 10vw;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .hero__video {
    height: 40vh;
  }
  .hero__video video {
    height: 40vh;
  }
  .hero__content {
    margin-top: -4rem;
  }
  .hero__heading {
    margin-bottom: 2rem;
  }
  .hero__heading img {
    height: 10vh;
  }
  .hero__button {
    justify-self: center;
    margin-bottom: 0rem;
  }

  .contacts__qr img {
    width: 100%;
    height: auto;
  }
  .contacts__social svg {
    width: 10rem;
    height: 10rem;
  }
}
@media screen and (max-width: 450px) {
  .hero__content {
    padding: 0 6vw;
  }
}
@media screen and (max-width: 400px) {
  .popup__wrapper {
    width: 92%;
  }
  .hero__content {
    margin-top: -8rem;
  }
}

@keyframes preloader-glow {
  0% {
    color: var(--color-white);
    filter: blur(0px);
    text-shadow: 0 0 10px var(--color-white), 0 0 20px var(--color-white),
      0 0 40px var(--color-white), 0 0 80px var(--color-white),
      0 0 120px var(--color-white), 0 0 200px var(--color-white),
      0 0 300px var(--color-white), 0 0 400px var(--color-white);
  }
  5%,
  100% {
    color: var(--color-white);
    text-shadow: none;
  }
  25%,
  100% {
    color: var(--color-white-dim);
  }
}
